body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:-8px;
  top:-7px;
  width:1218px;
  height:98px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:24px;
  width:110px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:720px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:790px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:859px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:929px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1060px;
  top:24px;
  width:80px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:992px;
  top:31px;
  width:29px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:940px;
  top:81px;
  width:210px;
  height:309px;
}
#u16_img {
  position:absolute;
  left:-8px;
  top:-7px;
  width:228px;
  height:327px;
}
#u17 {
  position:absolute;
  left:2px;
  top:146px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1022px;
  top:32px;
  width:12px;
  height:12px;
  opacity:0.600000023841858;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:972px;
  top:201px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:972px;
  top:228px;
  width:142px;
  height:142px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:142px;
}
#u23 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:972px;
  top:184px;
  width:141px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:124px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
#u25 {
  position:absolute;
  left:971px;
  top:110px;
  width:57px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:972px;
  top:158px;
  width:106px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:970px;
  top:139px;
  width:141px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:124px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:141px;
  height:1px;
}
